@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    height: 100%;
}
body{
    background-image: url(./fd.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.container{
    position: relative;
    margin: 0 auto;
    top: 30px;
    display: grid;
    width: 90vw;
    height: 85vh;
    gap: 10px;
    grid-template:
    "texto texto img"40%
    "texto  texto img"40%
    "texto    texto   img"20% /
     35%     35%    25%;
}
.caja1{
    grid-area: texto;
    background: #63bda4;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 25px;
    border: 3px solid;
    flex-direction: column;
    
}
.texto{
    background-image: url(./bmo.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 2px solid;
    border-radius: 15px;
    outline: none;
    width: 85%;
    height: 70%;
    font-family: 'Inconsolata';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 150%;
    color: #0A3871;
    resize: none;
}
.texto:focus{
    padding-left: 5px;
    backdrop-filter: blur(10px);
}
.texto::placeholder{
    position: absolute;
    top: 5px;
    left: 5px;
    font-family: 'Inconsolata';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 150%;
    color: #0A3871;
}
.caja2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 85%;
    height: 15%;
}
.caja2 button{
    margin: 45px;
    width: 40%;
    height: 60%;
    box-shadow: 5px 5px 2px -1px black;
    color: black;
    font-family: 'Inconsolata';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
}

.btn-encriptar{
    background-color:rgb(255, 215, 0);
}

.btn-desencriptar{
    background-color: rgb(220, 20, 60);
}
.caja3{
    grid-area: img;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    backdrop-filter: blur(3px);
    width: auto;
    border-radius: 10px;
}
.imagen{
    width: 100%;
    position: relative;
    right: 50px;
}
.texto3{
    align-self: flex-start;
    font-family: 'Inconsolata';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 120%;
    color: whitesmoke;
    display: none;
    overflow: auto;
    height: 85%;
    width: 100%;
}
.informacion{
    font-style: normal;
    text-align: center;
    font-family: 'Inconsolata';
}
.texto1{
    font-weight: 650;
    font-size: 24px;
    line-height: 120%;
    color: whitesmoke;
    margin-bottom: 10px;
}
.texto2{
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: whitesmoke;
}
.btn-copiar{
    box-shadow: 5px 5px 2px -1px black;
    color: black;
    font-family: 'Inconsolata';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    width: 75%;
    height: 50px;
    margin:0 10px;
    display: none;
    background-color: rgb(0 191 255);
    border: 1px solid black;
}
.btn-copiar:hover, .btn-desencriptar:hover, .btn-encriptar:hover{
    opacity: 0.8;

}
@media  screen and (max-width: 1024px) and (min-width:481px) {
    .container{
        width: 100vw;
        height: 100vh;
        grid-template:
        "texto" 65%
        "texto" 15%
        "img" 20% /
        100%;
    }
    .caja2 button{
        width: 50%;
    }
    .caja3{
        padding: 20px;
        height: max-content;
    }
    .imagen{
        display: none;
    }
}
@media screen and (max-width:480px) and (min-width:320px){
    .container{
        width:100vw;
        height: 100vh;
        grid-template:
        "texto" 55%
        "texto" 15%
        "img" 30% /
        100%;
    }
    .caja2 button{
        width: 100%;
        height: 100%;
    }
    .caja3{
        padding: 20px;
        height: max-content;
    }
    .imagen{
        display: none;
    }
    .btn-copiar{
        position: relative;
        flex-wrap: wrap;
        height: 50%;
    }
}